<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_2450811614959111926templateContainer">
    <tbody>
        <tr>
            <td valign="top" id="m_2450811614959111926templatePreheader">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding:9px">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                <img align="center" alt="" src="" width="564" style="max-width:1108px;padding-bottom:0px;vertical-align:bottom;display:inline!important;border-radius:0%" tabindex="0">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" id="m_2450811614959111926templateHeader">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding-top:9px">



                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%" class="m_2450811614959111926mcnTextContentContainer">
                                    <tbody>
                                        <tr>

                                            <td valign="top" class="m_2450811614959111926mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">

                                                <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                    Dear Customer!<br>
                                                    <br>
                                                    Thank you for choosing&nbsp;<a href="https://openweathermap.org/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://openweathermap.org/&amp;source=gmail&amp;ust=1604900951820000&amp;usg=AFQjCNE_EO15zATwviASc3M3NdvkYFWFVw">LiteMailer</a>!<br>
                                                    <br>
                                                    Please confirm your email address to help us ensure your account is always protected.
                                                </span><br>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </td>
                        </tr>
                    </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:4px;background-color:#e96d4b">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:18px">
                                                <a title="Verify your email" href="$CONFIRM_EMAIL$" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff" target="_blank">Verify your email</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding-top:9px">



                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%" class="m_2450811614959111926mcnTextContentContainer">
                                    <tbody>
                                        <tr>

                                            <td valign="top" class="m_2450811614959111926mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" id="m_2450811614959111926templateBody">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding-top:9px">



                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%" class="m_2450811614959111926mcnTextContentContainer">
                                    <tbody>
                                        <tr>

                                            <td valign="top" class="m_2450811614959111926mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">

                                                <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                    For further technical questions and support, please contact us at&nbsp;<a href="mailto:info@emailyt.com" target="_blank">info@emailyt.com</a><br>
                                                    <br>
                                                    <br>
                                                    <span style="color:#333333">We are looking forward to cooperating with you!</span>
                                                </span><br>
                                                <br>
                                                <br>
                                                <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                    Best Regards,<br>
                                                    Emailyt&nbsp;team
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" id="m_2450811614959111926templateFooter">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" style="padding:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="padding-left:9px;padding-right:9px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top">





                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody>
                                                                                                                        <tr>

                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                <a href="https://twitter.com/nkalavilli" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" alt="Twitter" style="display:block" height="24" width="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody>
                                                                                                                        <tr>

                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                <a href="https://www.linkedin.com/in/alavilli" target="_blank">
                                                                                                                                    <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" alt="LinkedIn" style="display:block" height="24" width="24">
                                                                                                                                </a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody>
                                                                                                                        <tr>

                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                <a href="https://medium.com/@naveenalavilli" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-medium-48.png" alt="Medium" style="display:block" height="24" width="24" class="CToWUd"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody>
                                                                                                                        <tr>

                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                <a href="https://www.facebook.com/groups/openweathermap/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" style="display:block" height="24" width="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>






                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                                                                    <tbody>
                                                                                                                        <tr>

                                                                                                                            <td align="center" valign="middle" width="24">
                                                                                                                                <a href="https://openweathermap.org/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://openweathermap.org/&amp;source=gmail&amp;ust=1604900951821000&amp;usg=AFQjCNGhI_d9mwzC-qprgw39VLdV4KR5Vw"><img src="https://ci5.googleusercontent.com/proxy/FR4I0VM10pxcUwbQ63iIF6cAOqyzEbM1yC4ru84XQ1cT1RbvvmtJzUt4RdH1WUB452ecisGFRwh877ppJp5BhUmQhUWIABs5JUY80JFlBF08huivKdmS6R-dPg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" style="display:block" height="24" width="24" class="CToWUd"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>




                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_2450811614959111926mcnDividerBlock" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td style="min-width:100%;padding:10px 18px 25px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #ffffff">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding-top:9px">



                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%" class="m_2450811614959111926mcnTextContentContainer">
                                    <tbody>
                                        <tr>

                                            <td valign="top" class="m_2450811614959111926mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">

                                                <em>OpenWeather © All rights reserved</em><br>
                                                <br>
                                                <a href="mailto:info@openweathermap.org" target="_blank">info@openweathermap.org</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>